.home__page {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  
  .entry__message {
    display: flex;
    flex-direction: column;
  }
  
  .entry__message > h4 {
    font-size: 60px;
    margin: 0;
  }
  
  .entry__message > h2 {
    font-size: 80px;
    width: 80%;
    line-height: 1em;
    margin: 5px auto;
    margin-top: 0;
    font-weight: 900;
    letter-spacing: -4px;
    color: rgb(17, 17, 17);
    text-decoration: underline;
  }
  
  .entry__message > p {
    padding: 10px 0;
    line-height: 1.5em;
    width: 50%;
    margin: auto;
    font-size: 16px;
  }
  
  
  